<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <form [formGroup]="postagem" (ngSubmit)="postarProduto()">
          <ion-item>
            <ion-label position="floating">Nome:</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="nome" formControlName="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Valor: <small>R$</small></ion-label>
            <ion-input type="text" name="valor" [(ngModel)]="valor" formControlName="valor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Quantidade: </ion-label>
            <ion-input type="number" name="qtd" [(ngModel)]="qtd" formControlName="qtd"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descrição:</ion-label>
            <ion-textarea type="text" name="descricao" [(ngModel)]="descricao" formControlName="descricao"></ion-textarea>
          </ion-item>
          
          <div>
            <ion-button type="submit" expand="full" color="success">Cadastrar</ion-button>
          </div>
        </form>
    </ion-list>
</ion-content>
